*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
}
/*-------STILI BASE-------*/
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: white;
}
/*-------STILI BASE-------*/


.mega-container{
    margin: 0 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.big-contain{
    display: flex;
    flex-grow: 2;
    width: 100%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.small-contain{
    flex-grow: 0.5;
    flex-shrink: 0;
    width: 100%;
    background-color: rgb(60, 60, 60);
}

.left-contain{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 250px;
    padding: 10px 15px;
}

.right-contain{
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 4;
}

.lg-contain{
    background-color: rgb(14, 19, 22);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
}


.link-contain{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
    font-size: 15px;
    flex-wrap: wrap;
}

.recently-title{
    padding: 20px 20px 0px 20px;
    color: white;
}

.recently-contain{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0px;
    gap: 15px;
    overflow: auto;
}

.recently-song{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.col-song{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.recently-img-contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(100% / 6 - 9px);
}

.recently-img-contain-duo{
    flex-basis: calc(100% / 2.9 - 9px);
}

.recently-img{
    width: 100%;
}

.recently-img-circle{
    border-radius: 50%;
}

.recently-text-song{
    text-align: center;
    padding: 15px 0px;
}

.recently-text-song > div, .recently-title > p{
    color: #9e9e9e;
}

.sm-contain{
    background-color: rgb(8 13 19);
    display: flex;
    justify-content: flex-end;
    flex-grow: 0;
    padding: 20px;
}

.button-right{
    padding: 5px 20px;
    border: solid 2px white;
    border-radius: 20px;
    transition: width 1s, height 1s, margin 1s;
}

.button-right:hover{
    padding: 15px 25px;
    font-size: 15px;
}

.logo-contain{
    background-color: rgb(0, 0, 0);
}

.logo{
    max-width: 150px;
    padding: 6px 0;
}

.logo-none{
    display: none ;
    max-width: 20px;
}

.search-contain{
    background-color: rgb(244, 255, 240);
    display: flex;
    flex-direction: column;
    color: white;
}

.under-logo{
    color: #9e9e9e;
}

.under-logo:hover{
    color: white;
}

.space{
    padding-right: 10px;
}

.search-items{
    display: flex;
    padding: 10px 0;
    background-color: rgb(0, 0, 0);
}

.sm-scroll-contain{
    background-color: rgb(0, 0, 0);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}


.craft-a-playlist{
    background-color: rgb(0, 0, 0);
    padding: 10px 0;
    color: #9e9e9e;
}

.more-white-playlist:hover{
    color: white;
}


.more-song{
    background: #8b8787;
    padding: 10px;
    margin: 10px 10px 10px 0;
    color: black;
}

.more-song:hover{
    background: #ffffff;
    padding: 10px;
    margin: 10px 10px 10px 0;
    color: black;
}

.scroll-items{
    background-color: rgb(0, 0, 0);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.make-a-playlist{
    padding: 10px 0;
}

.new-playlist{
    color: #9e9e9e
}

.scroll-footer{
    display: flex;
    flex-direction: column;
    color: #9e9e9e;
}

.section-download{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: #625f5f;
    gap: 10px;
}

.svg-download-icon{
    max-width: 15px;
    height: 20px;
}

.img-svg-download{
    max-width: 15px;
    height: 20px;
}

.section-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    gap: 10px;
}

.svg-profile-icon{
    max-width: 30px;
    max-height: 30px;
    border: solid 1px #9e9e9e;
    border-radius: 50%;
    overflow: hidden;
    background-color: #9c8d8d;
}

.img-svg-profile{
    max-width: 30px;
    height: 30px;
}



.footer-contain{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 10px;
    min-height: 91.5px;
}

.footer-lg-section{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 5px;
    position: relative;
}
.footer-section{
    display: flex;
    color: #9e9e9e;
    flex-shrink: 0;
    min-width: 200px;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.footer-brano{
    display: flex;
    gap: 10px;
    align-items: center;
}

.img-brano-footer{
    max-width: 50px;
}

.name-song{
    color: white;
}

.brano-nome{
    color: #9e9e9e;
    font-size: smaller;
}
.brano-nome:hover{
    text-decoration: underline;
    color: white;
}

.footer-like{
    word-spacing: 10px;
}

.hover-like{
    color: #9e9e9e;
}

.footer-menu{
    color: white;
}

.player-bar{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: medium;
    color: white;
}

.big-icon{
    font-size: 30px;
    color: #dddbdb;
}

.big-icon:hover{
    font-size: 35px;
    color: #ffffff;
}

.contain-bar-time{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.big-line-brano{
    background-color: #9e9e9e;
    border-radius: 5px;
    flex-basis: 100%;
    max-width: 315px;
}

.sound-time{
    color: white;
    font-size: 15px;
    line-height: 25px;
}

.bg-time-brano{
    background-color:  #9e9e9e;
    width: 85px;
    border-radius: 5px;
}

.time-brano{
    width: 30%;
    height: 5px;
    background: white;
    border-style: none;
    border-radius: 5px;
    position: relative;
    text-align: right;
}

.time-brano:hover{
    background-color: greenyellow;
}

.time-brano:hover .pointer-bar{
    display: inline-block;
    position: absolute;
    top: -5px;
    color: white;
}

.pointer-bar{
    position: absolute;
    top: -5px;
    color: white;
    display: none;
}


@media screen and (max-width: 1100px) {

    .recently-img-contain{
        flex-basis: calc(100% / 4 - 9px);
    }
}

@media screen and (max-width: 700px){
    .recently-img-contain{
        flex-basis: calc(100% / 2 - 9px);
    }

    .footer-like-media{
        display: flex;
        flex-direction: column;
    }

    .sound-time{
        font-size: 11px;
    }
}

@media screen and (max-width: 600px) {
    .left-contain{
        width: 50px;
    }
    .recently-img-contain{
        flex-basis: calc(100% / 2 - 9px);
    }
    .sm-scroll-contain{
        display: none;
    }
    .under-logo-none{
        display: none;
    }
    .logo-big-none{
        display: none;
    }
    .logo-none{
        display: inline-block;
    }
    .footer-section{
        min-width: 170px;
        gap: 15px;
        position: relative;
    }
    .footer-menu{
        font-size: 12px;
    }
    .bg-time-brano{
        width: 55px ;
    }
}
